body {
    height: 100vh;
    margin: 0;
    /* align-items:center; */
}

.container {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 480px;
    border-style: dashed;
}

.square {
    border-style: solid;
    height: 100%;
    width: 100%;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}